<section class="c-section u-margin-bottom-huge">
  <header class="c-section__header u-margin-bottom">
    <h2>{{ title }}</h2>
  </header>

  <section
    [ngClass]="{ 'u-margin-bottom-huge': !isMobileWidth, 'u-margin-bottom': isMobileWidth }">
    <div class="o-grid">
      <ng-container *ngFor="let contactItem of contact">
        <div class="o-grid__cell u-margin-top"
          [ngClass]="{ 'u-1/2 u-margin-bottom-large': !isMobileWidth, 'u-1/1 u-margin-bottom': isMobileWidth }">
          <div class="o-grid u-flex u-align-left u-align-center">
            <div class="o-grid__cell u-1/4 u-flex u-align-center u-align-left">
              <img src="assets/images/svg/{{ contactItem.image.fileName }}.svg"
                alt="{{ contactItem.image.title }}">
            </div>
            <div class="o-grid__cell u-3/4 u-flex u-flex--middle u-flex--column">
              <header class="u-margin-bottom-small">
                <h5>{{ contactItem.title }}</h5>
              </header>
              <ul class="u-text-gray-700">
                <a href="tel:+48510217852" class="u-text-info u-margin-bottom-tiny" style="margin-left: -24px"
                  *ngIf="contactItem.type === 'phone'">{{ contactItem.subTitle }}</a>
                <a href="mailto:patryk.b@me.com" class="u-text-info u-margin-bottom-tiny" style="margin-left: -24px"
                  *ngIf="contactItem.type === 'email'">{{ contactItem.subTitle }}</a>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</section>
