<section class="c-section u-margin-bottom-huge">
  <header class="c-section__header u-margin-bottom">
    <h2>{{ title }}</h2>
  </header>

  <section class="u-margin-bottom-huge">
    <div class="o-grid">
      <ng-container *ngFor="let cooperationTermsItem of cooperationTerms">
        <div class="o-grid__cell u-1/2 u-margin-top u-margin-bottom-large">
          <div class="o-grid u-flex u-align-left u-align-center">
            <div class="o-grid__cell u-1/4 u-flex u-align-center u-align-left">
              <img src="assets/images/svg/{{ cooperationTermsItem.image.fileName }}.svg"
                alt="{{ cooperationTermsItem.image.title }}">
            </div>
            <div class="o-grid__cell u-3/4 u-flex u-flex--middle u-flex--column">
              <header class="u-margin-bottom-small">
                <h5>{{ cooperationTermsItem.title }}</h5>
              </header>
              <ul class="u-text-gray-700">
                <div class="u-margin-bottom-tiny" style="margin-left: -24px">{{ cooperationTermsItem.subTitle }}</div>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>

</section>
