<section class="c-section u-margin-bottom-huge">
  <header class="c-section__header u-margin-bottom">
    <h2>{{ formOfCooperation.title }}</h2>
  </header>

  <section
    [ngClass]="{ 'u-margin-bottom-huge': !isMobileWidth, 'u-margin-bottom': isMobileWidth }">
    <div class="o-grid">
      <ng-container *ngFor="let formOfCooperationItem of formOfCooperation.items">
        <div class="o-grid__cell u-margin-top"
          [ngClass]="{ 'u-1/2 u-margin-bottom-large': !isMobileWidth, 'u-1/1 u-margin-bottom': isMobileWidth }">
          <div class="o-grid u-flex u-align-left u-align-center">
            <div class="o-grid__cell u-1/4 u-flex u-align-center u-align-left"
              *ngIf="!isMobileWidth1">
              <img src="assets/images/svg/{{ formOfCooperationItem.image.fileName }}.svg"
                alt="{{ formOfCooperationItem.image.title }}">
            </div>
            <div class="o-grid__cell u-3/4 u-flex u-flex--middle u-flex--column"
              [ngClass]="{ 'u-1/1': isMobileWidth }">
              <header class="u-margin-bottom-small">
                <h5>{{ formOfCooperationItem.title }}</h5>
              </header>
              <ul class="u-text-gray-700">
                <div class="u-margin-bottom-tiny" style="margin-left: -24px">{{ formOfCooperationItem.subTitle }}</div>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>

</section>
