<section class="c-section u-margin-bottom-huge">
  <header class="c-section__header u-margin-bottom">
    <h2>{{ title }}</h2>
  </header>

  <ng-container *ngFor="let myOfferItem of myOffer">
    <section class="u-margin-bottom-huge">
      <div class="o-grid">
        <div class="o-grid__cell u-1/4 u-flex u-align-center u-align-left">
          <img src="assets/images/svg/{{ myOfferItem.image.fileName }}.svg" alt="{{ myOfferItem.image.title }}">
        </div>
        <div class="o-grid__cell u-3/4">
          <header class="u-margin-bottom-small">
            <h5>{{ myOfferItem.title }}</h5>
          </header>
          <ul class="u-text-gray-700">
            <div class="u-margin-bottom-tiny" style="margin-left: -24px">{{ myOfferItem.subTitle }}</div>
            <ng-container *ngFor="let item of myOfferItem.items">
              <li class="u-margin-bottom-small">
                <span class="u-text-bold u-margin-right-tiny">
                  {{ item.title }}
                </span>
                <span class="u-text-small u-text-italic">
                  {{ item.subTitle }}
                </span>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </section>
  </ng-container>

</section>
