<aside *ngIf="!isMobileWidth" [@asideFadeAnimation]="'in'">
  <img class="c-background c-background__one u-noselect" src="assets/images/svg/background_1.svg" alt="background1">
  <img class="c-background c-background__two u-noselect" src="assets/images/svg/background_2.svg" alt="background2">
  <img class="c-background c-background__three u-noselect" src="assets/images/svg/background_3.svg" alt="background3">
  <img class="c-background c-background__four u-noselect" src="assets/images/svg/background_4.svg" alt="background4">
  <img class="c-background c-background__five u-noselect" src="assets/images/svg/background_5.svg" alt="background5">
</aside>

 <main class="c-english" #english>
   <section class="c-content o-wrapper1 u-noselect" [style.margin-left.px]='marginLeft' [@mainFadeAnimation]="'in'">
     <app-header></app-header>
     <app-about-me></app-about-me>
     <app-my-offer></app-my-offer>
     <app-cooperation-terms></app-cooperation-terms>
     <app-contact></app-contact>
     <app-footer></app-footer>
   </section>
 </main>

 <main class="c-pane" [style.width.px]='width' #pane>
   <section class="c-content o-wrapper1 u-noselect"
    [style.margin-left.px]='marginLeft'
    [@mainFadeAnimation]="'in'">
     <app-header></app-header>
     <app-about-me></app-about-me>
     <app-my-offer></app-my-offer>
     <app-cooperation-terms></app-cooperation-terms>
     <app-contact></app-contact>
     <app-footer></app-footer>

      <img class="c-grab-move" src="assets/images/svg/grab_move.svg" alt="grab and move">
      <img class="c-grab-move c-grab-move__icon" src="assets/images/svg/drag_indicator-24px.svg" alt="grab and move">

   </section>

   <div class="grabber"></div>

 </main>
