.c-background {
  $left: 0;
  $zIndex: 999;

  position: absolute;
  z-index: 100000;

  &__one {
    top: 0;
    left: $left;
    z-index: $zIndex;
  }

  &__two {
    top: 500px;
    right: $left;
    z-index: $zIndex;
  }

  &__three {
    top: 950px;
    left: $left;
    z-index: $zIndex;
  }

  &__four {
    top: 1500px;
    right: $left;
    z-index: $zIndex;
  }

  &__five {
    top: 2300px;
    right: $left;
    z-index: $zIndex;
  }
}

.c-content {
  overflow: hidden;
  width: 960px;
  padding-right: 24px;
  padding-left: 24px;
}

.c-pane {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
  z-index: 99;
  background: #fff;

  white-space: wrap;
  overflow: hidden;
  padding-left: 0;

  box-shadow: rgb(136, 136, 136) 5px 0px 5px -5px;

  &--en {
    background: #EEEEEE;
    width: 100%;
  }

  &--pl {
    background: #fafafa;
    box-shadow: rgb(136, 136, 136) 5px 0px 5px -5px;
    width: 90%;

    // &:after {
    //   content: "";
    //   background-image: url('../assets/images/svg/drag_indicator-24px.svg');
    //   background-size: 24px 24px;
    //   height: 24px;
    //   width: 24px;
    //   position: fixed;
    //   top: 264px;
    //   right: 65px;
    //   display: block;
    // }
  }
}

.u-forward-animation {
  // transition: width 50ms ease-in-out;
}

.u-back-animation {
  // transition: width 800ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.c-grabber {
  background: url('../assets/images/svg/drag_indicator-24px.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 264px;
  // background-color: red;
  width: 30px;
  cursor: ew-resize;
  height: 26px;
  display: block;
  right: 50px;
  top: 263px;
  position: fixed;
}

.c-grab-move {
  background-color: #fafafa;
  position: fixed;
  top: 174px;
  z-index: 1003;
}

.c-change-lang-trigger {
  color: #1565C0;
  position: fixed;
  right: 0;
  top: 264px;
  width: 38px;
  z-index: 1002;

  &--on-mobile {
    border-radius: 50%;
    padding: 16px;
    right: 16px;
    top: 16px;
    width: auto;
  }
}

.c-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: transparent;
  z-index: 1001;

  &--small {
    cursor: ew-resize;
    z-index: 1000;
  }
}

.u-noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.u-background {
  background: url('../assets/images/svg/background_1.svg'),
              url('../assets/images/svg/background_2.svg'),
              url('../assets/images/svg/background_3.svg'),
              url('../assets/images/svg/background_4.svg'),
              url('../assets/images/svg/background_5.svg');
  background-size: auto;
  background-repeat: no-repeat;

  &--en {
    background-color: #EEEEEE;
    background-position-y: 0, 500px, 950px, 1500px, 2300px;
  }
  &--pl {
    background-color: #fff;
    background-position-y: 0, 500px, 950px, 1500px, 2300px;
  }
}

