.c-background {
  $left: 0;
  $zIndex: 999;

  position: absolute;
  z-index: 100000;

  &__one {
    top: 0;
    left: $left;
    z-index: $zIndex;
  }

  &__two {
    top: 500px;
    right: $left;
    z-index: $zIndex;
  }

  &__three {
    top: 950px;
    left: $left;
    z-index: $zIndex;
  }

  &__four {
    top: 1500px;
    right: $left;
    z-index: $zIndex;
  }

  &__five {
    top: 2300px;
    right: $left;
    z-index: $zIndex;
  }
}

.c-content {
  overflow: hidden;
  width: 960px;
  padding-right: 24px;
  padding-left: 24px;
}

.c-pane {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
  z-index: 99;
  background: #fff;

  white-space: wrap;
  overflow: hidden;
  padding-left: 0;

  box-shadow: rgb(136, 136, 136) 5px 0px 5px -5px;

  &--en {
    background: #EEEEEE;
    width: 100%;
  }

  &--pl {
    background: #fafafa;
    box-shadow: rgb(136, 136, 136) 5px 0px 5px -5px;
    width: 90%;
  }
}
.u-forward-animation {
  transition: width 50ms ease-in-out;
}
.u-back-animation {
  transition: width 300ms ease-in-out;
}

.c-grabber {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: ew-resize;
  width: 30px;
  overflow: hidden;
  background-image: url('https://cdn.sstatic.net/Sites/stackoverflow/img/sprites.svg'), none;
  background-position: 210px -364px;
  background-size: initial;
  background-repeat: no-repeat;
}

.c-grab-move {
  position: absolute;
  top: 100px;
  right: 30px;

  &__icon {
    top: 174px;
    right: 2px;
  }
}

.c-change-lang-trigger {
  color: #1565C0;
  position: fixed;
  right: 16px;
  top: 173px;
}

.c-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: transparent;
  z-index: 1001;

  &--small {
    cursor: ew-resize;
    z-index: 1000;
  }
}

.u-noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
