.c-go-top {
  // bottom: 32px;
  position: fixed;
  right: 32px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  text-align: center;
  z-index: 3000;

  .c-btn-icon {
    background-color: transparent;
    align-items: center;
    // border: solid 1px #1565C0;
    border-radius: 50%;
    color: #1565C0;
    display: flex !important;
    height: 56px !important;
    justify-content: center;
    width: 56px !important;
  }

  &.is-shown {
    transform: scale(1.5);

    .c-btn-icon {
      background-color: transparent;
    }
  }
}
