/**
 *
 * Import styles from MDS design platform
 *
 */

@import 'mds-styles.css';


/**
 *
 * Import styles from fullcalendar plugin
 *
 */


/**
 *
 * Custom application styles
 *
 */


html,
body {
  height: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Roboto, Lato, sans-serif;
  margin: 0;
}



.c-btn {
  transition: 0s;
  // NOTE: additional setting due to problem wiht Lato align problem
  line-height: 34px;
  padding: 2px 16px 0 16px;
}

.c-module-title {
  font-weight: normal;
  color: #1565C0;
}

.c-section-title {
  // font-weight: 600;
  // font-weight: normal;
  color: #424242;
}

//
.c-welcome-message,
.c-error-message {
  align-items: center;
  background-color: transparent;
  color: #757575;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: center;
  width: 100%;

  &__icon i {
    font-size: 8rem;
  }

  &__sub-text,
  &__text {
    display: block;
    text-align: center;
    width: 50rem;
  }

  &__text {
    font-size: 2rem;
  }

  &__sub-text {
    font-size: 1.6rem;
  }
}




// Pagination
.c-pagination {
  // border-top: 1px solid #e0e0e0;
  color: #757575;
  font-size: 1.2rem;
  height: 56px;
  line-height: 56px;

  &__navigation-separator {
    display: inline-block;
    width: 24px;
  }

  &__page-previous,
  &__page-next {
    border-radius: 50%;
    height: 36px !important;
    line-height: 36px !important;
    min-width: 32px !important;
    padding: 0;
    text-align: center;
    width: 36px !important;

    i {
      margin: 0;
    }
  }

  &--disabled {
    pointer-events: none !important;
    cursor: default !important;

    i {
      color: #9e9e9e !important;
    }
  }

  .c-btn-icon {
    display: inline-block !important;
  }
}

.c-pagination .c-pagination__page-info,
.c-pagination .c-pagination__page-navigation {
  display: inline-block;
}

.c-pagination .c-pagination__page-navigation {
  margin-left: 44px;
  margin-right: 14px;
}



// Main content
.c-main-content {
  // padding-top: 152px;
}


// Add-on
.c-text-field__add-on {
  align-items: center;
  background-color: #fff;
  color: #616161;
  display: flex;
  height: 38px;
  justify-content: center;
  position: absolute;
  right: 2px;
  top: 22px;
  width: 38px;
}

.c-text-field__input::-ms-clear {
  display: none;
}


.c-btn[disabled] {
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
  box-shadow: none;
  color: #757575 !important;
  cursor: default;
  pointer-events: none;
}

p {
  word-break: break-all;
}


.c-messages-and-actions-bar {
  background-color: #F5F5F5;
  border-radius: .3rem;
}

.o-grid--auto>.o-grid__cell {
  flex: 1 0 0%;
}


// TODO: move to main code base
.c-text-field__helper-container {
  display: flex;
  justify-content: space-between;
  order: 3;

  .c-text-field__helper {
    order: initial;

    &-spacer {
      flex: 1 0 1em;
    }
  }
}


// Patient arrived

.u-patient-arrived-true {
  // padding-top: 182px;
  animation: patientArrivedShow 300ms ease-in;
}

.u-patient-arrived-false {
  // padding-top: 150px;
  padding-top: 24px;
  animation: patientArrivedHide 300ms ease-in;
}

@keyframes patientArrivedShow {
  from {
    padding-top: 150px;
  }

  to {
    padding-top: 182px;
  }
}

@keyframes patientArrivedHide {
  from {
    padding-top: 182px;
  }

  to {
    padding-top: 150px;
  }
}


// .c-footer {
//   background-color: rgba(0, 0, 0, .4);
//   bottom: 0;
//   color: #fafafa;
//   font-size: 1.6rem;
//   padding: 0;
//   position: fixed;
//   width: 100%;
//   z-index: 10;

//   &__content {
//     height: 100%;
//   }
// }

.c-btn--change-lang {
  &:hover {
    background-color: transparent !important;
    color: #fafafa !important;
  }
}



// Inline message
.c-messages-and-actions-bar {
  &__content {
    height: 64px;
  }
}

.c-save-message {
  &__content {
    display: flex;
    justify-items: center;

    .c-save-message__icon {
      align-items: center;
      border-radius: .3rem 0 0 .3rem;
      color: #fff;
      display: inline-flex;
      height: 64px;
      justify-content: center;
      width: 64px;
    }
  }

  &__text {
    margin: auto 0;
    display: flex;
    align-items: center;
  }

  &--success {
    .c-save-message__icon {
      background-color: #4caf50;
    }
  }

  &--info {
    .c-save-message__icon {
      background-color: #2196F3;
    }
  }

  &--error {
    .c-save-message__icon {
      background-color: #F44336;
    }
  }
}


// Utilities

.u-flex {
  display: flex !important;

  &--center-middle {
    justify-content: center !important;
    align-items: center !important;
  }

  &--middle {
    align-items: center !important;
  }
}

.u-text {
  &-uppercase {
    text-transform: uppercase !important;
  }

  &-bold {
    font-weight: bold !important;
  }

  &-weight-normal {
    font-weight: normal;
  }
}


.u-opacity {
  &-0 {
    opacity: 0 !important;
  }

  &-1 {
    opacity: 1 !important;
  }
}

.u-clickme {
  cursor: pointer !important;

  * {
    cursor: pointer !important;
  }
}

.c-btn-icon {
  height: 42px !important;
  width: 42px !important;
  line-height: 1 !important;
  display: inline-flex !important;
  border: none;

  &.c-btn--disabled {
    background-color: #e0e0e0;
    border: none;
    box-shadow: none;
    justify-content: center;
    pointer-events: none;
  }
}


.c-btn-icon--info {
  &:hover {
    background-color: transparent;
    cursor: help;
  }
}

.u-background-gray-50 {
  background-color: #FAFAFA;
}


.c-text-field--readonly {
  .c-text-field__input {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: .3rem;
    color: #424242;
    font-size: 16px;
    height: 42px;
    line-height: 1.5;
    order: 2;
    padding: 8px;
    resize: vertical;
    transition: all .3s ease-in-out;
    width: 100%;
  }

  .c-text-field__label {
    margin-bottom: 4px;
    cursor: default;
  }
}

.c-calendar-icon {
  color: #616161;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 30px;
  background-color: #fff;
}

.c-btn\@small {
  // line-height: 29px;

  i {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}


.o-block--right {
  text-align: right !important;
}

.c-spinner--height {
  &-6 {
    height: 6rem !important;
  }

  &-7 {
    height: 7rem !important;
  }

  &-8 {
    height: 8rem !important;
  }

  &-9 {
    height: 9rem !important;
  }

  &-10 {
    height: 10rem !important;
  }
}


.c-text-field--add-on {
  position: relative;

  &-right {
    .c-text-field__input {
      padding-right: 42px;
    }
  }

  &-left {
    .c-text-field__input {
      padding-left: 42px;
    }
  }
}

.c-text-field__add-on {
  background-color: transparent;
  top: 4px;
  top: 22px;
}

.c-text-field--add-on-no-label .c-text-field__add-on {
  top: 4px !important;
}

.c-menu__items {
  max-height: 350px !important;
}


.u-display-inline {
  display: inline-block !important;
}

.mat-calendar-body-cell-content {
  border-radius: .3rem !important;
}

.mat-calendar-body-selected {
  background-color: #1565C0 !important;
}

p {
  word-break: break-word;
}

.u-copyme {
  cursor: copy;
}

.u-cursor {
  &-help {
    cursor: help !important;
  }

  &-default {
    cursor: default !important;
  }
}

.c-table__cell--no-ellipsis {
  text-overflow: initial;
  white-space: initial;
  overflow: auto;
  line-height: 1.5;
}


.c-section {
  &__header {
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: normal;
    }

    &:after {
      content: "";
      display: block;
      border-bottom: solid 3px #1565C0;
      width: 56px;
      position: absolute;
      left: 0;
      bottom: -6px;
    }
  }

  &__body {
    white-space: pre-line;
  }
}

.c-footer {
}
